<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 10]> <html lang="en" class="ie10"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Tork Garage Yönetim Paneli</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<%= stylesheet_link_tag "admin/admin" %>
	
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="index.html">
					<%= image_tag "admin/logo.png" %>
				<!-- <img src="assets/img/logo.png" alt="Conquer" /> -->
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="arrow"></span>
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->				
				<div class="top-nav">
					<!-- BEGIN QUICK SEARCH FORM -->
					
					<!-- END QUICK SEARCH FORM -->
					<!-- BEGIN TOP NAVIGATION MENU -->					
					<ul class="nav pull-right" id="top_menu">
						
						<!-- BEGIN USER LOGIN DROPDOWN -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user fa-fw"></i>
							<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><i class="fa fa-key fa-fw"></i>
									<% if user_signed_in? %> 
										<%= current_user.full_name %> 
									<% end %>
								</li>
								<li>
									<%= link_to logout_path do %>
									<i class="fa fa-key fa-fw"></i> Çıkış
									<% end %>
								</li>
							</ul>
						</li>
						<!-- END USER LOGIN DROPDOWN -->
					</ul>
					<!-- END TOP NAVIGATION MENU -->	
				</div>
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div id="sidebar" class="nav-collapse collapse">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<div class="navbar-inverse">
				<form class="navbar-search visible-phone">
					<input type="text" class="search-query" placeholder="Search" />
				</form>
			</div>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul>
				<li <%= 'class=active' if current_page?(controller: 'admin') %>>
					<%= link_to admin_root_path do %>
					
					<i class="fa fa-home fa-fw"></i> Anasayfa
					<% end %>
				</li>
				<!-- <li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-bookmark-empty"></i> UI Elements
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="ui_elements_general.html">General</a></li>
						<li><a class="" href="ui_elements_buttons.html">Buttons</a></li>
						<li><a class="" href="ui_elements_tabs_accordions.html">Tabs & Accordions</a></li>
						<li><a class="" href="ui_elements_typography.html">Typography</a></li>
					</ul>
				</li> -->
				<li <%= 'class=active' if current_page?(controller: 'user_list') %> >
					<%= link_to admin_user_list_path do %>
						<i class="fa fa-user fa-fw"></i> Kullanıcılar
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'services') %> >
					<%= link_to admin_services_path do %>
						<i class="fa fa-user fa-fw"></i> Hizmetler
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'user_proposal_forms') %>>
					<%= link_to admin_user_proposals_path do %>
						<i class="fa fa-tasks fa-fw"></i> Teklifler
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'user_appointments') %>>
					<%= link_to admin_user_appointments_path do %>
						<i class="fa fa-pencil-square-o fa-fw"></i> Randevular
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'brands') %>>
					<%= link_to admin_brands_path do %>
						<i class="fa fa-car fa-fw"></i> Markalar
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'brand_makes') %>>
					<%= link_to admin_brand_makes_path do %>
						<i class="fa fa-car fa-fw"></i> Modeller
					<% end %>
				</li>
				<li <%= 'class=active' if current_page?(controller: 'make_types') %>>
					<%= link_to admin_make_types_path do %>
						<i class="fa fa-car fa-fw"></i> Motor Tipleri
					<% end %>
				</li>
				<!-- <li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-map-marker"></i> Maps
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="maps_google.html"> Google Maps</a></li>
						<li><a class="" href="maps_vector.html"> Vector Maps</a></li>
					</ul>
				</li>
				<li><a class="" href="calendar.html"><i class="icon-ok"></i> Calendar</a></li>
				<li><a class="" href="gallery.html"><i class="icon-camera"></i> Gallery</a></li>
				<li><a class="" href="login.html"><i class="icon-user"></i> Login Page</a></li> -->
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div id="body">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %> alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <%= message %>
				</div>
			<% end %>
			<%= yield %>
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div id="footer">
		
		<div class="span pull-right">
			<span class="go-top"><i class="icon-arrow-up"></i></span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS -->
	<!-- Load javascripts at bottom, this will reduce page load time -->
	<%= javascript_include_tag "application" %>
	<script>
		jQuery(document).ready(function() {		
			// initiate layout and plugins
			App.setMainPage(true);
			App.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>