<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 10]> <html lang="en" class="ie10"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Tork Garage Yönetim Paneli</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<%= stylesheet_link_tag "admin/admin" %>
	
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>
	<div id="logo" class="center">
    <%= image_tag "admin/logo.png" %>
  </div>
	<div id="login">
    <!-- BEGIN LOGIN FORM -->
    <%= yield %>
    <% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %> alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <%= message %>
				</div>
			<% end %>
    
    
  </div>
	<!-- Load javascripts at bottom, this will reduce page load time -->
	<%= javascript_include_tag "application" %>
	<script>
    jQuery(document).ready(function() {     
      App.initLogin();
    });
  </script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>